header{
    width: 100%;
    height: 200px;
}

.header{
    width: 100%;
    background: black;
    color: white;
    height: 200px;
    font-size: 36px;
    text-align: center;
    line-height: 164px;
}

body{
    margin: 0px;
}

.menu{
    display: flex;
    width: 33.333%;
    height: 1050px;
    background: yellow;
    flex-direction: column;
}

.Item{
    font-size: 36px;
    margin-top: 20px;
    margin-left: 100px;
}    

.main{
    display: flex;
    background: rgb(158, 132, 47);
    width: 66.666%;
    height: 1050px;
    flex-direction: column;
}

.maain{
    display: flex;
}



img{
    width: 1000px;
    height: 600px;
    margin-top:  50px;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 650px;
}



h1{
    display: flex;
}

.text{
    font-size: 36px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
}

.article{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}

.sqware{
    width: 200px;
    height: 200px;
    background: black;
}
footer{
    width: 100%;
    height: 200px;
    
}
.foot{
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: bold;
    background: black;
    height: 200px;
    line-height: 164px;
}

